{% extends 'listings/base.html' %}

{% block content %}

    <h1>Tableau de bord</h1>
    <p>Bienvenue {{ username }} au tableau de bord !</p>
    <div class="grid-container">
        {% for ticket in tickets %}
            <div class="post">
                <h3>{{ ticket.title }}</h3>
                <p>{{ ticket.description }}</p>
                <img src="{{ ticket.photo.image.url }}">
                <p><a href="{% url 'reviews' %}">Créez une critique</a></p>
            </div>
        {% endfor %}

    </div>

{% endblock %}
