{% extends 'listings/base.html' %}

{% block content %}

    <h1>Flux</h1>
    <br>
    <p>Bienvenue {{ user.username }} !</p>
    <br>
    <p><a href="{% url 'tickets' %}">Créez un billet</a></p>
    <div class="grid-container">
        {% for post in all_posts %}
            {% if post.TYPE == 'ticket' %}
            <div class="post ticket">
                <div class="post-description">
                    {% if post.user.username == user.username %}
                        <h5 class="user">Billet fait par vous</h5>
                    {% else %}
                        <h5 class="user">Billet fait par {{ post.user }}</h5>
                    {% endif %}
                    <br>
                    <h3 class="title">{{ post.title }}</h3>
                    <p class="description">{{ post.description }}</p>
                    <img class="book-image" src="{{ post.photo.image.url }}">
                    {# if ticket.id not in ticket_ids_with_review #}
                        <p class="link-text"><a href="{% url 'create_review' post.id %}">Créez une critique</a></p>
                    {# endif #}
                </div>

                {% for review in follows_reviews %}
                    {% if review.ticket == post %}
                        <div class="review">
                            {% if review.user == user %}
                                <h5 class="user">Critique faite par vous</h5>
                            {% else %}
                                <h5 class="user">Critique faite par {{ review.user.username }}</h5>
                            {% endif %}
                            <h3 class="critique">{{ review.headline }}</h3>
                            <p class="rating">Raiting : {{ review.rating }}</p>
                            <p class="comment">{{ review.body }}</p>
                            <p class="link-text"><a href="{% url 'edit_review' review.id %}">Modifier/Supprimer la critique</a></p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <div class="post review">
                <div class="post-description">
                    {% if post.user.username == user.username %}
                        <h5 class="user">Billet fait par vous</h5>
                    {% else %}
                        <h5 class="user">Billet fait par {{ post.user }}</h5>
                    {% endif %}
                    <br>
                    <h3 class="title">{{ post.title }}</h3>
                    <p class="description">{{ post.description }}</p>
                    <img class="book-image" src="{{ post.photo.image.url }}">
                    <p class="link-text"><a href="{% url 'create_review' post.id %}">Créez une critique</a></p>
                </div>

                {% for review in follows_reviews %}
                    {% if review.ticket == follow_ticket %}
                        <div class="review">
                            {% if review.user == user %}
                                <h5 class="user">Critique faite par vous</h5>
                            {% else %}
                                <h5 class="user">Critique faite par {{ review.user.username }}</h5>
                            {% endif %}
                            <h3 class="critique">{{ review.headline }}</h3>
                            <p class="rating">Raiting : {{ review.rating }}</p>
                            <p class="comment">{{ review.body }}</p>
                            <p class="link-text"><a href="{% url 'edit_review' review.id %}">Modifier/Supprimer la critique</a></p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}

{#        {% for ticket in tickets %}#}
{#            <div class="post">#}
{#                <div class="post-description">#}
{#                    {% if ticket.user.username == user.username %}#}
{#                        <h5 class="user">Billet fait par vous</h5>#}
{#                    {% else %}#}
{#                        <h5 class="user">Billet fait par {{ ticket.user }}</h5>#}
{#                    {% endif %}#}
{#                    <br>#}
{#                    <h3 class="title">{{ ticket.title }}</h3>#}
{#                    <p class="description">{{ ticket.description }}</p>#}
{#                    <img id="book-image" class="book-image" src="{{ ticket.photo.image.url }}">#}
{#                    <p class="link-text"><a href="{% url 'create_review' ticket.id %}">Créez une critique</a></p>#}
{#                </div>#}
{##}
{#                {% for review in reviews %}#}
{#                    {% if review.ticket == ticket %}#}
{#                        <div class="review">#}
{#                            {% if review.user == ticket.user %}#}
{#                                <h5 class="user">Critique faite par vous</h5>#}
{#                            {% else %}#}
{#                                <h5 class="user">Critique faite par {{ review.user.username }}</h5>#}
{#                            {% endif %}#}
{#                            <h3 class="critique">{{ review.headline }}</h3>#}
{#                            <p class="rating">Raiting : {{ review.rating }}</p>#}
{#                            <p class="comment">{{ review.body }}</p>#}
{#                            <p class="link-text"><a href="{% url 'edit_review' review.id %}">Modifier/Supprimer la critique</a></p>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endfor %}#}

    </div>

{% endblock %}
