{% extends 'listings/base.html' %}

{% block content %}

    <h1>Billets</h1>
    <br>
    <p>Modifiez vos billets ou supprimez-les !</p>
    <div class="grid-container">
        {% for ticket in tickets %}
            <div class="post">
                <div class="post-description">
                    <h3 class="title">{{ ticket.title }}</h3>
                    <p class="description">{{ ticket.description }}</p>
                    {% if ticket.photo.image %}
                        <img class="book-image" src="{{ ticket.photo.image.url }}">
                    {% endif %}
                    <p class="link-text"><a href="{% url 'edit_ticket' ticket.id %}">Modifier/Supprimer le billet</a></p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
