{% extends 'listings/base.html' %}

{% block content %}

    <h1>Critiques</h1>
    <p>Modifiez vos critiques ou supprimez-les !</p>
    <div class="grid-container">
        {% for review in reviews %}
            <div class="post">
                <h3 class="title">Titre : {{ review.headline }}</h3>
                <p class="rating">Rating : {{ review.rating }}</p>
                <p class="comment">Commentaire : {{ review.body }}</p>
                <p class="link-text"><a href="{% url 'edit_review' review.id %}">Modifier/Supprimer la review</a></p>
            </div>
        {% endfor %}
    </div>

{% endblock content %}