{% extends 'listings/base.html' %}

{% block content %}

    <h1>Abonnements</h1>
    <br>
    <p>Suivez d'autres utilisateurs !</p>

    <form method="post" novalidate enctype="multipart/form-data">
        {{ followed_form.as_p }}

        <button type="submit" >Suivre</button>
    </form>

    <div class="grid-container">
        <p class="message">{{ message }}</p>
        <br>
        <h3 class="title">Mes abonnements</h3>
        {% for followed_user_object in followed_user_objects %}
            <div class="post">
                <p class="user_follow">{{ followed_user_object.user }} | {{ followed_user_object.followed_user }}</p>
<!--                <p class="user_follow">{{ followed_user_object.user.id }} | {{ followed_user_object.followed_user.id }}</p>-->
<!--                <p class="user_follow">{{ delete_form }} |</p>-->
            </div>
        {% endfor %}

        <h3 class="title">Mes abonnés</h3>
        {% for follower_user_object in follower_user_objects %}
            <div class="post">
                <p class="user_follow">{{ follower_user_object.user }} | {{ follower_user_object.followed_user }}</p>
<!--                <p class="user_follow">{{ follower_user_object.user.id }} | {{ follower_user_object.followed_user.id }}</p>-->
            </div>
        {% endfor %}

    </div>

{% endblock %}