*{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: arial, helvetica, sans-serif;
  background-color: #f0efed;
}
#container{
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  color: #113c62;
}

header{
  height: 100px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  list-style: none;
  font-size: 25px;
}
.menu li{
  float: left;
  padding-left: 75px;
}
.menu li a{
  color: #113c62;
}
.menu li a:hover{
  text-decoration: underline;
}

p a{
  color: #1465ba;
}
p a:hover{
  text-decoration: underline;
}

section{
  /* border: 2px solid #113c62; */
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.post{
  border: 2px solid #113c62;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.post .user{
  position: absolute;
  left: 25px;
  top: 0px;
}
.post .title{
  position: absolute;
  left: 25px;
  top: 25px;
}
.post .description{
  width: 55%;
  position: absolute;
  left: 25px;
  top: 60px;
}
.post .rating{
  width: 55%;
  position: absolute;
  left: 25px;
  top: 60px;
}
.post .comment{
  width: 55%;
  position: absolute;
  left: 25px;
  top: 90px;
}
.post .link-text{
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.post .link-text a{
  color: #1465ba;
}
.post .link-text a:hover{
  text-decoration: underline;
}
.post .book-image{
  position: absolute;
  top: 25px;
  left: 25px;
  max-height: 200px;
}
.post .time{
  position: absolute;
  right: 25px;
  top: 0px;
}

.post-description{
  width: 100%;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.review{
  border: 2px solid #113c62;
  background-color: white;
  width: 100%;
  height: 250px;
  margin-top: 10px;
  padding: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.review .user{
  position: absolute;
  left: 25px;
  top: 0px;
}
.review .time{
  position: absolute;
  right: 25px;
  top: 0px;
}
.review .critique{
  position: absolute;
  left: 25px;
  top: 50px;
}
.review .rating{
  position: absolute;
  left: 25px;
  top: 80px;
}
.review .comment{
  width: 95%;
  position: absolute;
  left: 25px;
  top: 110px;
}
.review .link-text{
  position: absolute;
  right: 25px;
  bottom: 55px;
}

.unfollow{
  position: absolute;
  right: 25px;
  top: 10px;
}

/* forms */
section .forms{
  border: 0px;
}
label{
  display: block;
  margin-top: 10px;
}
form{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #113c62;
}
input[type="text"]{
  width: 25%;
  padding: 5px;
  border: 2px solid #113c62;
}
input[type="file"]{
  width: 25%;
  padding: 5px;
}
input[type="file-upload-button"]{
  border: 2px solid #113c62;
}
input[type="password"]{
  width: 25%;
  padding: 5px;
  border: 2px solid #113c62;
}
input[type="number"]{
  width: 25%;
  padding: 5px;
  border: 2px solid #113c62;
}
input[type="submit"]{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 10%;
  padding: 5px;
  border: 2px solid #113c62;
  border-radius: 20px;
}
input[type="submit"]:hover{
  color: white;
  background-color: #113c62;
}
button[type="submit"]{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 10%;
  padding: 5px;
  border: 2px solid #113c62;
  border-radius: 20px;
}
button[type="submit"]:hover{
  color: white;
  background-color: #113c62;
}
textarea{
  border: 2px solid #113c62;
  min-height: 40px;
  min-width: 50%;
  padding: 5px;
}
ul{
  list-style: none;
  margin-top: 10px;
  font-size: 15px;
}